.info
  img.info_icon(src='/../static/icon.svg')
  h1.info_title Yandex.Music Control
  p.info_description Управляйте Яндекс.Музыкой из любого окна macOS
  .info_buttons
    a.info_button(href='https://github.com/Ty3uK/YMC') Исходный код
    a.info_button(href='https://github.com/Ty3uK/YMC/releases') Скачать
    a.info_button(href='https://money.yandex.ru/to/410012095863336') Поддержать