.info
  img.info_icon(src='/../static/icon.svg')
  h1.info_title Yandex.Music Control
  p.info_description Manage Yandex.Music from any macOS window
  .info_buttons
    a.info_button(href='https://github.com/Ty3uK/YMC') Source Code
    a.info_button(href='https://github.com/Ty3uK/YMC/releases') Download
    a.info_button(href='https://money.yandex.ru/to/410012095863336') Donate