doctype html
head(lang='ru')
  include ../meta/meta_ru.pug
  include ../preload/preload.pug
  link(rel='stylesheet' href='/index.css')

body
  include ../lang/lang_ru.pug
  include ../info/info_ru.pug
  include ../laptop/laptop.pug
  script(src='/index.js')
