meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

title Yandex.Music Control
meta(name='description' content='Manage Yandex.Music from any macOS window')

meta(property='og:type' content='website')
meta(property='og:title' content='Yandex.Music Control')
meta(property='og:description' content='Manage Yandex.Music from any macOS window')
meta(property='og:url' content='https://ty3uk.github.io/YMC/')
meta(property='og:image' content='https://ty3uk.github.io/YMC/_logo.d0b10af5.png')
meta(property='og:image:type' content='image/png')
meta(property='og:image:width' content='1200')
meta(property='og:image:height' content='630')
meta(property='og:video' content='../static/video-high.mp4')
meta(property='og:video:type' content='video/mp4')
meta(property='og:image:width' content='1280')
meta(property='og:image:height' content='800')

meta(property='twitter:card' content='summary')
meta(property='twitter:creator' content='@xxxTy3uKxxx')
