link(rel='preload' as='image' type='image/svg+xml' href='../static/logo.svg')
link(rel='preload' as='image' type='image/png' href='../static/macbook.png')
link(rel='preload' as='image' type='image/webp' href='../static/macbook.webp')
link(rel='preload' as='video' type='image/mp4' href='../static/video-low.mp4')