doctype html
head(lang='en')
  include meta/meta.pug
  include preload/preload.pug
  link(rel='stylesheet' href='index.css')

body
  include info/info.pug
  include laptop/laptop.pug
  script(src='index.js')
