doctype html
head(lang='en')
  meta(name='google-site-verification', content='0Ytnyj-Qwoikh8UhMtlYmwNu6HXkNK2PXdsVbU6_uFQ')
  include meta/meta.pug
  include preload/preload.pug
  link(rel='stylesheet' href='/index.css')

body
  include lang/lang.pug
  include info/info.pug
  include laptop/laptop.pug
  script(src='/index.js')
