/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  font-family: 'system', sans-serif;
  font-size: 13px;
  color: #f4f4f4;
  background-color: #121212;
  -webkit-font-smoothing: antialiased;
}

@media all and (max-width: 1280px) {
  body {
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0;
  }
}
